<style>
    #contact{
        background-color: aliceblue;
        padding: 16px 0;
    }

    .contact-details{
        font-size: 15px;
        padding: 20px;
    }

    .name{
        font-size: 20px;
    }
</style>




<section id="contact">
    <div class="contact-details">

        <p class="name"><b>Dhanraj</b></p>
        <p class="number">Contact No.: <i>+91 999XXXXXXX</i></p>
        <p class="mail">Email: dhanrajbeniwal_cs21@gla.ac.in</p>
        <p class="address">Address: Hodal(Haryana)</p>
    </div>
</section>