<style>

    .footerContainer {
        bottom: 0;
        width: 100%;
        background-color: #111;
        color: #fff;
        padding: 20px 0 0 0;
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .socials a i{
        color: white;
        font-size: 30px;
        margin: 10px 20px 10px 20px;
    }

   .socials a i:hover{
    font-size: 35px;
   }


    .footerList {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .footerList li {
        list-style: none;
        display: block;
        padding: 10px;
        text-align: center;
    }

    .footerList li a {
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin-right: 25px;
    }

    .footerBottom {
        text-align: center;
        background-color: black;
        padding: 5px;
    }
</style>



<footer>
    <div class="footerContainer">
        <div class="socials">
            <a href="/"><i class="fa-brands fa-facebook"></i></a>
            <a href="/"><i class="fa-brands fa-instagram"></i></a>
            <a href="/"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="/"><i class="fa-brands fa-telegram"></i></a>
            <a href="/"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footerList">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">News</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/" onclick="document.getElementById('contact').scrollIntoView(); return false;">Contact Us</a></li>
                <li><a href="/">Our Team</a></li>
            </ul>
        </div>
        <div class="footerBottom">
            <p>Copyright &copy; 2024; Designed by <i>Dhanraj</i> </p>
        </div>
    </div>

</footer>