<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("includes/navbar") %>

    <div class="login-container">
        <div class="login-wrapper">

            <div class="login">Login</div>
            <form class="login-form" action="">
                <div class="email">
                    <input type="text" placeholder="Email Address" id="email">
                </div>
                <div class="password">
                    <input type="password" placeholder="Password" id="password">
                </div>
                <div class="remember-forgot">
                    <div class="remember">
                        <input type="checkbox" name="remember" id="remember">
                        <Label for="remember">Remember me</Label>
                    </div>
                    <div class="forgot">
                        <a href="">Forgot Password</a>
                    </div>
                    
                </div>
                <button type="submit" class="login-btn">Login</button>
            </form>
            <div class="notMember">
                Not a member? <a href="/polls/signup">Signup now</a>
            </div>
        </div>
    </div>
    <br><br>
        <%- include("includes/contact") %>
            <%- include("includes/footer") %>
</body>
</html>