<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Poll</title>
</head>
<body>
    <form class="newPoll" method="post" action="">
        <p>Enter the question:</p>
        <input placeholder="write your question" name="content" rows="5" cols="50"></textarea><br><br>
        Enter the options:
        <ul>
            <li><input type="text" name="" id=""></li>
            <li><input type="text" name="" id=""></li>
            <li><input type="text" name="" id=""></li>
            <li><input type="text" name="" id=""></li>
        </ul>
        <button>Submit</button>
    </form>
</body>
</html>