<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("includes/navbar") %>

    <div class="signup-container">
        <div class="signup-wrapper">

            <div class="signup">SignUp</div>
            <form class="signup-form" action="/signup" method="post" >
                <div class="username">
                    <label for="username">Username:</label>
                    <input type="text" name="username" placeholder="Enter Username" id="username" required>
                </div>
                <div class="email">
                    <label for="email">Email Address:</label>
                    <input type="text" name="email" placeholder="Email Address" id="email" required>
                </div>
                <div class="password">
                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="Password" id="password" required>
                </div>
                
                <button type="submit" class="signup-btn">SignUp</button>
            </form>
            <div class="aMember">
                Already a member? <a href="/login">Login now</a>
            </div>
        </div>
    </div>
    <br><br>
        <%- include("includes/contact") %>
            <%- include("includes/footer") %>

</body>
</html>