* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f2f2f2;
}

.poll {
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0;
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5),
        5px 0px 5px -5px rgba(0, 0, 0, 0.5),
        0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.desc {
    /* border: 2px solid black; */
    border-radius: 10px;

    padding: 10px;
    margin: 10px;
}

/* .share{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
} */

.polls {
    margin: 0 auto;
    width: 55%;
}

#poll-form label p {
    display: inline-block;
}


.title {
    width: 98%;
    height: 40px;
    border-radius: 5px;
}

.newPoll-container {
    margin: 0 auto;
    width: 55%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.newPoll {
    background-color: white;
    border-radius: 20px;
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5),
        5px 0px 5px -5px rgba(0, 0, 0, 0.5),
        0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.newPoll h2 {
    margin: 0;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    background-color: crimson;
    color: white;
    font-size: 30px;
    text-align: center;
}

.newPoll-form {
    padding: 20px;

}

.optionsContainer {}

#optionsContainer input {
    margin: 10px 0;
    padding: 7px;
    border-radius: 5px;
    width: 90%;
}

.login-container,
.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    /* padding: 20px; */
    background-color: white;
    border-radius: 20px;
    width: 400px;
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5),
        5px 0px 5px -5px rgba(0, 0, 0, 0.5),
        0px 5px 5px -5px rgba(0, 0, 0, 0.5);

}

.signup-wrapper {
    /* padding: 20px; */
    background-color: white;
    border-radius: 20px;
    width: 600px;
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5),
        5px 0px 5px -5px rgba(0, 0, 0, 0.5),
        0px 5px 5px -5px rgba(0, 0, 0, 0.5);

}

.login,
.signup {
    padding: 20px;
    border-radius: 20px 20px 0 0;
    background-color: crimson;
    color: white;
    font-size: 30px;
    text-align: center;
}

.login-form,
.signup-form {
    /* display: block; */
    padding: 20px 20px 0 20px;

}

/* .login-form .email,
.password {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
} */

.username input,
.email input,
.password input {
    margin: 10px 0;
    height: 50px;
    width: 94%;
    border-radius: 50px;
    padding: 0 0 0 20px;

}

.remember-forgot {
    display: flex;
    justify-content: space-between;
}

.login-btn {
    margin: 15px 0;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    border: none;
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.signup-btn {
    margin: 15px 0;
    height: 50px;
    width: 98%;
    border-radius: 50px;
    border: none;
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover {
    background-color: rgb(243, 42, 82);
}

.notMember,
.aMember {
    text-align: center;
    padding: 20px 20px 30px 20px;
}

.forgot a,
.notMember a,
.aMember a {
    color: crimson;
}

.forgot a:hover,
.notMember a:hover,
.aMember a:hover {
    color: rgb(243, 42, 82);
}


#option-submit-btn{
    border: none;
    background-color: #fff;
}